body {
  background-image: url('https://source.unsplash.com/random');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


h1, h2 {
  color: #cdcecf;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#Corey {
  width: 20%;
  height: auto;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

a {
  color: rgb(209, 44, 52);
  text-decoration: none;
}

a:hover {
  color:rgb(25, 146, 25);
  text-decoration: underline;
  transition-delay: .2s;
}

.container {
  width: 700px;
  margin: 0 auto;
}
.card {
  padding: 5px;
  border-radius: 1px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 20px 0;
  padding: 40px;
  border: 1px solid rgb(173, 168, 168);
  border-radius: 20px;
  background-color: rgba(0,0,0,0.5);
  opacity: 90%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

@media (min-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
